.bottom_bar {
     background-color: rgb(0, 0, 0);
     color: rgb(224, 224, 224);

     width: 85%;

     text-align: center;
     font-size: 1.9em;
     margin: 0.5% 7%;
}

     #car_button{
          position: relative;
          right: 26vw;
          bottom: 3.4vh;
     }
     #map_button{
          position: relative;
          right: 14vw;
          font-size: medium;
          bottom: 4.4vh;
     }
     #manual_button{
          display: inline-block;
          position: relative;
          bottom: 6%;
     }
     #manual_text{
          display: block;
          font-size: 0.34em;
     }
     #music_button{
          position: relative;
          font-size: medium;
          left: 14vw;
          bottom: 4.6vh;
          /* width: 5%; */
          /* height: 6vh; */
     }
     #volume_button {
          display: inline-block;
          position: relative;
          top: 0.7vh;
          left: 26vw;
     }
     #v-up{
          display: block;
          font-size: medium;
     }
     #v-down{
          display: block;
          font-size: medium;
     }