

.music_panel{
     background-color: rgb(34, 34, 34);
     color: rgb(224, 224, 224);
     float: right;

     margin: 2% 3% 0% 0%;
     height: 410px;
     width: 65%;
     
     border: none;
     border-radius: 2vh;
     position: relative;
}

#music_head{
     display: inline-block;
     position: relative;
     left: 3vw;
}
#music_add{
     display: inline-block;
     
     position: absolute;
     top: 5.5vh;
     right: 3vw;

     background-color: rgb(26, 26, 26);
     color: rgb(151, 151, 151);
     
     text-align: center;
     font-size: 0.8em;
     padding: 1vh 0vh 0vh 0vh;
     width: 8%;
     height: 4vh;
     
}
.music_tracks{
     position: absolute;
     left: 2vw;

     font-family: 'Courier New', Courier, monospace;
     font-size: 0.81em;
     font-weight: bold;
     background-color: rgb(27, 27, 27);
     color: rgb(190, 190, 190);

     width: 94%;
     height: 60%;
}
.music_footer{
     position: absolute;
     left: 3vh;
     bottom: 0vh;

     width: 95%;
}
#curr_track{
     display: inline-block;
     position: relative;
     bottom: 1.1vh;
     
     width: 50%;
     font-size: 77%;
     
     font-family: 'Courier New', Courier, monospace;
     font-weight: bolder;
     color: rgb(255, 255, 255);
}
.music_controls{
     display: inline-block;
     position: absolute;
     right: 0;
     /* bottom: 5vh; */
}
     .play_pause_buttons{
          display: inline-block;
          position: relative;
          right: 4vw;
     }
     .music_time{
          display: inline-block;
          position: relative;

          font-size: 1.1em;
          font-family: monospace;

          right: 1vw;
          bottom: 0.6vh;
     }
          #left_time{
               position: relative;
               bottom: 0.5vh;
               font-size: 75%;
          }
          #right_time{
               position: relative;
               bottom: 0.5vh;
               font-size: 75%;
          }